.board {
	display: flex;

	display: flex;
	flex-direction: column;
	max-width: 480px;

	&:first-child {
		margin-right: 8px;
	}

	@media screen and (max-width: 484px) {
		flex-direction: column;
		width: 100%;
		margin: 0;
	}
}
