.sorting {
	display: flex;
	margin-bottom: 20px;

	button {
		&:not(:first-child) {
			margin-left: 8px;
		}
		&.is-active {
			background-color: rgb(163, 162, 162);
		}
	}

	@media screen and (max-width: 484px) {
		flex-direction: column;

		button {
			&:not(:first-child) {
				margin-left: 0;
				margin-top: 8px;
			}
		}
	}
}
