.tile {
	border-radius: 8px;
	border: 2px solid pink;
	padding: 16px 24px;
	margin-bottom: 8px;
	position: relative;

	.inputs {
		display: flex;
		flex-direction: column;

		.h2 {
			color: rgb(254, 129, 214);
			font-size: 20px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		input {
			border: none;
		}

		textarea {
			border: none;
			min-height: 100px;
		}
	}

	.date {
		opacity: 0.5;
		font-size: 12px;
	}

	.icon-button {
		width: 24px;
		height: 24px;
		padding: 0;
		justify-content: center;
		align-items: center;
		z-index: 1;

		img {
			height: 12px;
			width: 12px;
		}
	}

	.delete-button {
		position: absolute;
		right: 8px;
	}

	.edit-button {
		position: absolute;
		right: 40px;
	}

	.characters-count {
		color: rgb(254, 129, 214);
		font-size: 12px;
		margin-top: 8px;
		opacity: 0;

		&.visible {
			opacity: 1;
		}
	}
}
