.icon-button {
	border: none;
	border-radius: 8px;
	display: flex;
	padding: 8px;
	position: relative;

	cursor: pointer;

	img {
		width: 24px;
		height: 24px;
	}

	&.danger {
		background-color: red;
	}
	&.success {
		background-color: rgb(43, 176, 43);
	}
}
